@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');


.App {
    width: 100vw;
}

.main-page {
    width: 80vw;
    min-height: 100vh;
    background: rgb(9, 8, 20);
    z-index: 1;
    padding: 10vh 0;
    position: relative;
    font-family: "Mirza", sans-serif;

}

.skillItem {
    background: rgb(197, 103, 40);
}

.title {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-transform: uppercase;
    font-family: "Saira Stencil One", sans-serif;
}

.title h1 {
    opacity: 0.1;
    z-index: 1;
    position: relative;
    font-size: 5rem;
    width: 80vw;
    text-align: center;
}

.title h2 {
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    letter-spacing: 5px;
}

.subTitle {
    width: 100%;
    margin-bottom: 3vh;
    font-size: 1.7rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Saira Stencil One", sans-serif;
}

/* .portfolioCategory button {
    padding: 10px;
    background: transparent;
    color: white;
    border: 2px solid rgb(197, 103, 40);
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    font-family: "Saira Stencil One", sans-serif;

    transition: 0.4s;
} */