@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600;700&display=swap');

.App {
    width: 100vw;
    overflow-x: hidden;
}

.navHamburger {
    position: fixed;
    top: 0vh;
    right: 4vw;
    width: 45px;
    height: 45px;
    z-index: 999999;
    background: #fff;
    display: none;
    font-size: 1.7rem;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #333;
    opacity: 0.8;
}

.navHamburger2 {
    position: fixed;
    bottom: 0vh;
    right: 4vw;
    width: 45px;
    height: 45px;
    z-index: 999999;
    background: #fff;
    display: none;
    font-size: 1.4rem;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    align-items: center;
    border: none;
    color: #333;
    opacity: 0.8;
}

@media screen and (max-width:800px) {

    .navHamburger,
    .navHamburger2 {
        display: flex;
    }
}

.main-page {
    width: 80vw;
    min-height: 100vh;
    /* background: rgb(9, 8, 20); */
    background: #101010;
    z-index: 1;
    padding: 10vh 0;
    position: relative;
    font-family: 'Changa', serif;

}

.skillItem {
    background: rgb(197, 103, 40);
}

.title {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-transform: uppercase;
    font-family: "Saira Stencil One", sans-serif;
}

.title h1 {
    opacity: 0.1;
    z-index: 1;
    position: relative;
    font-size: 5rem;
    width: 80vw;
    text-align: center;
}

.title h2 {
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    letter-spacing: 5px;
}

.subTitle {
    width: 100%;
    margin-bottom: 3vh;
    font-size: 1.7rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Saira Stencil One", sans-serif;
}

@media screen and (max-width:800px) {
    .main-page {
        width: 100vw;
    }

    .title h1 {
        font-size: 3rem;
        width: 90vw;
        text-align: center;
        margin: 0 auto;
    }

    .title h2 {
        font-size: 2rem;
        letter-spacing: 2px;
        width: 90vw;
        text-align: center;
        margin: 0 auto;
        top: 50%;
    }

    .subTitle {
        margin-bottom: 3vh;
        font-size: 1.5rem;
        letter-spacing: 2px;

    }
}