@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');


.App {
    width: 100vw;
}

.main-page {
    width: 80vw;
    min-height: 100vh;
    position: relative;
    background: rgb(9, 8, 17);
    z-index: 1;
}