* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    html {
        overflow-x: hidden;
    }
}

/* SCROOL BAR */

html::-webkit-scrollbar {
    width: 15px;
}

/* Track */
html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: rgb(197, 103, 40);
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 86, 28);
}